@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mallanna&display=swap');

body {
  background-image: url('https://user-images.githubusercontent.com/53062479/89965648-4babcf00-dc1b-11ea-8a9d-ac3c417b90ab.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: '100vh';
  background-size: cover;
}

.navBar {
  background-color: #34568A;
  height: 100px;
}

.app-name {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 15px;
}

.logo-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 95px;
  width: 70px;
}

.menu-item {
  font-family: 'Mallanna', sans-serif;
  font-size: 20px;
}

.book-image {
  height: 200px;
  width: 180px;
}

.center {
  text-align: center;
}

.button {
  border-radius: 20px;
  text-align: center;
}

.list-style {
  align-items: center;
  text-align: center;
  border: 3px grey;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  margin-top: 20px;
  border-style: groove;
  background-color: #FFFFFF;
  max-width: calc(100vh - 5vh);
}

.list-display {
  display: inline-block;
  text-align: left;
}

ol {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: left;
  margin-bottom: 10px;
}

img {
  margin-right: 10px;
}

.all-books {
  list-style: none;

}

.book-image-div {
  text-align: right;
  margin-top: 10px;
  padding: 10px;
}

.book-detail {
  margin-top: 10px;
}

.align-right {
  float: right;
}

.wishlist {
  padding-right: 30px;
  padding-left: 0px;
}

.checkbox-info {
  display: block;
  padding: 0px, 0px, 0px, 100px;
}

.wishlist-row {
  float: right;
}

.readlist-row {
  float: right;
}

.wishlist-box {
  float: right;
}

.wishlist-marker {
  text-align: center;
  border: 2px solid black;
  width: 23px;
  height: 27px;
}

.readlist {
  padding-right: 30px;
  padding-left: 0px;
}

.readlist-box {
  float: right;
}

.readlist-marker {
  text-align: center;
  border: 2px solid black;
  width: 23px;
  height: 27px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 60px;
}

.photo-and-title {
  display: flex;
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.book-title {
  font-size: 25px;
  padding-left: 10px;
  font-family: 'Mallanna', sans-serif;
}

.link-title {
  color: #000000;
}
